.cabecalho__menu-amburguer{
 width: 24px;
 height: 24px;
 background-image: url("../img/menu.svg");
 background-repeat: no-repeat;
 background-position: center;
 display: inline-block;
}

.cabecalho {
 background-color: var(--branco);
 display: flex;
 justify-content: space-between;
 align-items:  center;
 position: relative;
}

.conteiner{
    display: flex;
    align-items: center;
}

.container__imgem{
    padding: 1em;
} 

.lista-menu{
  display: none;  
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__botao:checked ~ .lista-menu{
display: block;
}

.lista-menu__,
 .lista-menu__item{
    padding: item;
    background-color:var(--branco) ;
 }

 .lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
 }

 .lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
 }

 .conteiner__botao{
    display: none;
 }

.conteiner__titulo{
   display: none;
}

.opçoes__item{
display: none;
}

 @media screen and (min-width:1024px){
.conteiner__titulo, .conteiner__titulo--negrito{
   font-family: var(--fonte-secundario);
   font-size: 30px;
}

.conteiner__titulo{
font-weight: 400;
display: block;
}
.conteiner__titulo--negrito{
   font-weight: 700;
}

 }

 .opçoes{
   display: flex;
 }

 .opçoes__item{
   padding: 0 1em;
   text-transform: uppercase;
 }

 .opçoes__link{
   text-decoration: none;
   color: var(--preto);
 }

 .container__imgem-tranparente{
display: none;
 }

 .cabecalho__menu-amburguer{
   display: none;
 }